
<div id="wrapper">
    <div id="divCandle">
        <div id="chartCandles"></div>
    </div>
    <div id="divGex1">
      <div id="chartGEXOpenInterest"></div>
    </div>
    <div id="divGex2">
      <div id="chartGEXCandleVolume"></div>
    </div>
</div>

{% for item in underlying %}
{
  x: new Date({{ item.time }}),
  y: [{{ item.open | float }},{{ item.high | float }},{{ item.low | float }},{{ item.close | float }}]
}<br>
{% endfor %}

<script>

        var price_min = {{ price_min }};
        var price_max = {{ price_max }};
        var time_min = {{ time_min }}; 
        var time_max = {{ time_max }};
        var positive_y = {{ positive_y }};
        var negative_y = {{ negative_y }};
        var candle_data = [
          {% for item in underlying %}
            {
              x: new Date({{ item.time }}),
              y: [{{ item.open | float }},{{ item.high | float }},{{ item.low | float }},{{ item.close | float }}]
            },
          {% endfor %}
          ];
        var call_gexSummaryOpenInterest = {{ call_gexSummaryOpenInterest | tojson }};
        var put_gexSummaryOpenInterest = {{ put_gexSummaryOpenInterest | tojson }};
        var call_gexCandleDayVolume = {{ call_gexCandleDayVolume | tojson }};
        var put_gexCandleDayVolume = {{ put_gexCandleDayVolume | tojson }};
        var strike_list = {{ strike_list | tojson }};
        var spot_price = "{{ spot_price }}" ;

        var optionsGEXOpenInterest = {
          series: [{
            name: 'Calls',
            type: 'bar',
            data: call_gexSummaryOpenInterest
          },
          {
            name: 'Puts',
            type: 'bar',
            data: put_gexSummaryOpenInterest
          },
          ],
          chart: {
          foreColor: '#fff',
          type: 'bar',
          height: 440,
          stacked: true,
          animations: {enabled: false}
        },
        colors: ['#f58d05', '#2e82e8'],
        title: {
          text: 'GEX from SummaryEvent OpenInterest'
        },
        plotOptions: {
          bar: {
            borderRadius: 5,
            borderRadiusApplication: 'end', // 'around', 'end'
            borderRadiusWhenStacked: 'all', // 'all', 'last'
            horizontal: true,
            barHeight: '80%',
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 1,
          colors: ["#fff"]
        },
        
        grid: {
          xaxis: {
            lines: {
              show: false
            }
          }
        },
        yaxis: {
          stepSize: 1,
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val))
            }
          }
        },
        tooltip: {
          shared: false,
          theme: 'dark',
          x: {
            formatter: function (val) {
              return val
            }
          },
          y: {
            formatter: function (val) {
              return Math.abs(val) + "missingUnit!"
            }
          }
        },
        xaxis: {
          categories: strike_list,
          title: {
            text: 'placeholder1'
          },
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val)) + "!"
            }
          }
        },
        };

        var chartGEXOpenInterest = new ApexCharts(document.querySelector("#chartGEXOpenInterest"), optionsGEXOpenInterest);
        chartGEXOpenInterest.render();
        
        var optionsGEXCandleVolume = {
          series: [{
          name: 'Calls',
          type: 'bar',
          data: call_gexCandleDayVolume
        },
        {
          name: 'Puts',
          type: 'bar',
          data: put_gexCandleDayVolume
        },
        ],
          chart: {
            foreColor: '#fff',
          type: 'bar',
          height: 440,
          stacked: true,
          animations: {enabled: false}
        },
        title: {
          text: 'GEX from CandleEvent DayVolume'
        },
        colors: ['#f58d05', '#2e82e8'],
        plotOptions: {
          bar: {
            borderRadius: 5,
            borderRadiusApplication: 'end', // 'around', 'end'
            borderRadiusWhenStacked: 'all', // 'all', 'last'
            horizontal: true,
            barHeight: '80%',
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 1,
          colors: ["#fff"]
        },
        
        grid: {
          xaxis: {
            lines: {
              show: false
            }
          }
        },
        yaxis: {
          stepSize: 1,
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val))
            }
          }
        },
        tooltip: {
          shared: false,
          theme: 'dark',
          x: {
            formatter: function (val) {
              return val
            }
          },
          y: {
            formatter: function (val) {
              return Math.abs(val) + "missingUnit!!!"
            }
          }
        },
        xaxis: {
          categories: strike_list,
          title: {
            text: 'placeholder1'
          },
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val)) + "!"
            }
          }
        },
        };

        var chartGEXCandleVolume = new ApexCharts(document.querySelector("#chartGEXCandleVolume"), optionsGEXCandleVolume);
        chartGEXCandleVolume.render();

      
        var options = {
          series: [{
          name: 'positive-peak',
          type: 'line',
          data: [
            {
              x: time_min,
              y: positive_y
            }, {
              x: time_max,
              y: positive_y
            }
          ]
          },{
          name: 'negative-peak',
          type: 'line',
          data: [
            {
              x: time_min,
              y: negative_y
            }, {
              x: time_max,
              y: negative_y
            }
          ]
          }, {
          name: 'candle',
          type: 'candlestick',
          data: candle_data
        }],
          chart: {
          foreColor: '#fff',
          height: 440,
          type: 'line',
          animations: {enabled: false},
          zoom: { enabled: false}
        },
        title: {
          text: '{{ticker}}:{{spot_price}}',
          align: 'left'
        },
        yaxis: { 
            min: price_min,
            max: price_max
        },
        stroke: {
          width: [6,6, 2]
        },
        tooltip: {
          theme: 'dark',
          shared: true,
          custom: [function({seriesIndex, dataPointIndex, w}) {
            return w.globals.series[seriesIndex][dataPointIndex]
          }, function({ seriesIndex, dataPointIndex, w }) {
            var o = w.globals.seriesCandleO[seriesIndex][dataPointIndex]
            var h = w.globals.seriesCandleH[seriesIndex][dataPointIndex]
            var l = w.globals.seriesCandleL[seriesIndex][dataPointIndex]
            var c = w.globals.seriesCandleC[seriesIndex][dataPointIndex]
            return (
              '<div class="apexcharts-tooltip-candlestick">' +
              '<div>Open: <span class="value">' +
              o +
              '</span></div>' +
              '<div>High: <span class="value">' +
              h +
              '</span></div>' +
              '<div>Low: <span class="value">' +
              l +
              '</span></div>' +
              '<div>Close: <span class="value">' +
              c +
              '</span></div>' +
              '</div>'
            )
          }]
        },
        xaxis: {
          type: 'datetime',
          min: time_min,
          max: time_max
        }
        };

        var chartCandles = new ApexCharts(document.querySelector("#chartCandles"), options);
        chartCandles.render();
        
</script>
<div id="refreshChart{{ticker}}">
</div>
<div hx-get="/gex-plot" hx-trigger="every 10s" hx-vals='{"ticker":"{{ticker}}","refreshonly":true}' hx-target="#refreshChart{{ticker}}" hx-swap="innerHTML"></div>
