<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ghetto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
<body>

<div id="wrapper">
    <div id="divCandle">
        <div id="chartCandles"></div>
    </div>
    <div id="divGex2">
      <div id="chartGEXCandleVolume"></div>
    </div>
    <div id="divGex1">
        <div id="chartGEXOpenInterest"></div>
    </div>
</div>
<script>
  
        var call_gexSummaryOpenInterest = {{ call_gexSummaryOpenInterest | tojson }};
        var put_gexSummaryOpenInterest = {{ put_gexSummaryOpenInterest | tojson }};
        var call_gexCandleDayVolume = {{ call_gexCandleDayVolume | tojson }};
        var put_gexCandleDayVolume = {{ put_gexCandleDayVolume | tojson }};
        var strike_list = {{ strike_list | tojson }};

        var optionsGEXOpenInterest = {
          series: [{
            name: 'Calls',
            type: 'bar',
            data: call_gexSummaryOpenInterest
          },
          {
            name: 'Puts',
            type: 'bar',
            data: put_gexSummaryOpenInterest
          },
          ],
          chart: {
          foreColor: '#fff',
          type: 'bar',
          height: 440,
          stacked: true,
          animations: {enabled: false}
        },
        colors: ['#f58d05', '#2e82e8'],
        title: {
          text: 'GEX from SummaryEvent OpenInterest'
        },
        plotOptions: {
          bar: {
            borderRadius: 5,
            borderRadiusApplication: 'end', // 'around', 'end'
            borderRadiusWhenStacked: 'all', // 'all', 'last'
            horizontal: true,
            barHeight: '80%',
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 1,
          colors: ["#fff"]
        },
        
        grid: {
          xaxis: {
            lines: {
              show: false
            }
          }
        },
        yaxis: {
          stepSize: 1,
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val))
            }
          }
        },
        tooltip: {
          shared: false,
          theme: 'dark',
          x: {
            formatter: function (val) {
              return val
            }
          },
          y: {
            formatter: function (val) {
              return Math.abs(val) + "missingUnit!"
            }
          }
        },
        xaxis: {
          categories: strike_list,
          title: {
            text: 'placeholder1'
          },
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val)) + "!"
            }
          }
        },
        };

        var chartGEXOpenInterest = new ApexCharts(document.querySelector("#chartGEXOpenInterest"), optionsGEXOpenInterest);
        chartGEXOpenInterest.render();
        
        var optionsGEXCandleVolume = {
          series: [{
          name: 'Calls',
          type: 'bar',
          data: call_gexCandleDayVolume
        },
        {
          name: 'Puts',
          type: 'bar',
          data: put_gexCandleDayVolume
        },
        ],
          chart: {
            foreColor: '#fff',
          type: 'bar',
          height: 440,
          stacked: true,
          animations: {enabled: false}
        },
        title: {
          text: 'GEX from CandleEvent DayVolume'
        },
        colors: ['#f58d05', '#2e82e8'],
        plotOptions: {
          bar: {
            borderRadius: 5,
            borderRadiusApplication: 'end', // 'around', 'end'
            borderRadiusWhenStacked: 'all', // 'all', 'last'
            horizontal: true,
            barHeight: '80%',
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 1,
          colors: ["#fff"]
        },
        
        grid: {
          xaxis: {
            lines: {
              show: false
            }
          }
        },
        yaxis: {
          stepSize: 1,
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val))
            }
          }
        },
        tooltip: {
          shared: false,
          theme: 'dark',
          x: {
            formatter: function (val) {
              return val
            }
          },
          y: {
            formatter: function (val) {
              return Math.abs(val) + "missingUnit!!!"
            }
          }
        },
        xaxis: {
          categories: strike_list,
          title: {
            text: 'placeholder1'
          },
          labels: {
            formatter: function (val) {
              return Math.abs(Math.round(val)) + "!"
            }
          }
        },
        };

        var chartGEXCandleVolume = new ApexCharts(document.querySelector("#chartGEXCandleVolume"), optionsGEXCandleVolume);
        chartGEXCandleVolume.render();

      
        var options = {
          series: [{
          name: 'positive-peak',
          type: 'line',
          data: [
            {
              x: new Date(1538778600000),
              y: 6
            }, {
              x: new Date(1538787600000),
              y: 6
            }
          ]
          },{
          name: 'negative-peak',
          type: 'line',
          data: [
            {
              x: new Date(1538778600000),
              y: 4
            }, {
              x: new Date(1538787600000),
              y: 4
            }
          ]
          }, {
          name: 'candle',
          type: 'candlestick',
          data: [
            {% for item in underlying %}
            {
              x: new Date({{ item.time }}),
              y: [{{ item.open | float }},{{ item.high | float }},{{ item.low | float }},{{ item.close | float }}]
            },
            {% endfor %}
          ]
        }],
          chart: {
          foreColor: '#fff',
          height: 440,
          type: 'line',
          animations: {enabled: false},
          zoom: { enabled: false}
        },
        title: {
          text: '{{ticker}}',
          align: 'left'
        },
        yaxis: { 
            min: {{ xmax }},
            max: {{ xmin }}
        },
        stroke: {
          width: [6,6, 2]
        },
        tooltip: {
          theme: 'dark',
          shared: true,
          custom: [function({seriesIndex, dataPointIndex, w}) {
            return w.globals.series[seriesIndex][dataPointIndex]
          }, function({ seriesIndex, dataPointIndex, w }) {
            var o = w.globals.seriesCandleO[seriesIndex][dataPointIndex]
            var h = w.globals.seriesCandleH[seriesIndex][dataPointIndex]
            var l = w.globals.seriesCandleL[seriesIndex][dataPointIndex]
            var c = w.globals.seriesCandleC[seriesIndex][dataPointIndex]
            return (
              '<div class="apexcharts-tooltip-candlestick">' +
              '<div>Open: <span class="value">' +
              o +
              '</span></div>' +
              '<div>High: <span class="value">' +
              h +
              '</span></div>' +
              '<div>Low: <span class="value">' +
              l +
              '</span></div>' +
              '<div>Close: <span class="value">' +
              c +
              '</span></div>' +
              '</div>'
            )
          }]
        },
        xaxis: {
          type: 'datetime'
        }
        };

        var chartCandles = new ApexCharts(document.querySelector("#chartCandles"), options);
        chartCandles.render();
      
        
        async function loadData(){

          var seriesGEXCandleVolume = [{
            name: 'Calls',
            type: 'bar',
            data: [0,5,1,1,10,1,1,4,0,0]
          },
          {
            name: 'Puts',
            type: 'bar',
            data: [-1,-1,-1,-1,-2,-5,-8,-5,-3,-1]
          },
          ];

          
          
          var seriesGEXOpenInterest = [{
            name: 'Calls',
            type: 'bar',
            data: [10,9,8,7,6,5,4,3,2,1]
          },
          {
            name: 'Puts',
            type: 'bar',
            data: [-1,-2,-3,-4,-5,-6,-7,-8,-9,-10]
          },
          ];

          chartGEXCandleVolume.updateSeries(seriesGEXCandleVolume);
          chartGEXOpenInterest.updateSeries(seriesGEXOpenInterest);

        }
        //loadData();
        
</script>
</body>
</html>
